In [1]:
pip install natsort

Collecting natsort
  Using cached natsort-8.4.0-py3-none-any.whl.metadata (21 kB)
Using cached natsort-8.4.0-py3-none-any.whl (38 kB)
Installing collected packages: natsort
Successfully installed natsort-8.4.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
#import necessary packages
import pandas as pd
import numpy  as np
import os, glob, shutil
from natsort import natsorted

#### This function is used to list all subfolders or files in a folder

In [155]:
def list_folders(folder_path):
    # Get the list of items (files and folders) in the specified folder
    items = os.listdir(folder_path)
    # Create a list of paths to subfolders and files within the folder
    subfolders = []
    for item in items:
        item_path = os.path.join(folder_path, item)
        if os.path.isdir(item_path) or os.path.isfile(item_path):
            subfolders.append(item_path)
            
    # Sort the subfolders in alphabetical order
    sorted_subfolders = sorted(subfolders)

    return sorted_subfolders

# The following function is an alternative to the above function
# def list_folders(folder_path):
#     folders = glob.glob(os.path.join(folder_path, '*'))
#     folders = [os.path.normpath(folder) for folder in folders]
#     return natsorted(folders)

In [156]:
def list_folders(folder_path):
    items = os.listdir(folder_path)

    subfolders = [os.path.join(folder_path, item)
                  for item in items
                  if os.path.isdir(os.path.join(folder_path,item)) or os.path.isfile(os.path.join(folder_path,item))]
    
    sorted_subfolders = sorted(subfolders)
    return sorted_subfolders

In [157]:
list_folders(".")

['.\\EDA_2004S',
 '.\\EDA_2024S-4.ipynb',
 '.\\EDA_2024S-4_practice.ipynb',
 '.\\wine.csv']

#### This function is used to list all files of a specific type in a folder

In [4]:
def list_files(folder_path,file_type):
    files = []
    for file in os.listdir(folder_path):
        if file.endswith(file_type):
            files.append(os.path.join(folder_path, file))
    return files

# The following function is an alternative to the above function
# def list_files(folder_path,file_type):
#     return natsorted(glob.glob("{}/*.{}".format(folder_path,file_type)))

In [5]:
list_files(".","csv")

['./wine.csv']

#### This function is used to make a new folder/directory

In [160]:
# Note that if folder_path exists then remove this folder and its subfolders
def makedirs(folder_path):
    if os.path.exists(folder_path):
        shutil.rmtree(folder_path)
    os.makedirs(folder_path)

In [184]:
makedirs("EDA_2024S")

#### Read a csv file to a data frame

In [162]:
df_wine =  pd.read_csv("wine.csv", index_col=-1)

#### See the first 5 entries

In [163]:
df_wine.head(20)

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280-OD315,Proline
name,,,,,,,,,,,,,
Sake,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
Sake,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
Sake,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
Sake,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
Sake,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
Sake,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
Sake,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
Sake,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
Sake,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
Sake,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
Sake,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
Sake,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280
Sake,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320
Sake,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
Sake,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547
Sake,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.30,1.28,2.88,1310
Sake,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.20,1.07,2.65,1280
Sake,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130
Sake,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.70,1.23,2.82,1680
Sake,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.10,0.96,3.36,845

#### See the last 5 entries

In [164]:
df_wine.tail(10)

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280-OD315,Proline
name,,,,,,,,,,,,,
champain,13.58,2.58,2.69,24.5,105,1.55,0.84,0.39,1.54,8.660000,0.74,1.80,750
champain,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.500000,0.67,1.92,630
champain,12.20,3.03,2.32,19.0,96,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510
champain,12.77,2.39,2.28,19.5,86,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470
champain,14.16,2.51,2.48,20.0,91,1.68,0.70,0.44,1.24,9.700000,0.62,1.71,660
champain,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.700000,0.64,1.74,740
champain,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.300000,0.70,1.56,750
champain,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835
champain,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.300000,0.60,1.62,840
champain,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560

#### Get the number of rows and columns in the dataset

In [165]:
df_wine.shape

(178, 13)

#### Get the number of columns in the dataset

In [166]:
df_wine.shape[1]

13

#### Get the data information

In [167]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, Sake to champain
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alcohol               178 non-null    float64
 1   Malic acid            178 non-null    float64
 2   Ash                   178 non-null    float64
 3   Alcalinity of ash     178 non-null    float64
 4   Magnesium             178 non-null    int64
 5   Total phenols         178 non-null    float64
 6   Flavanoids            178 non-null    float64
 7   Nonflavanoid phenols  178 non-null    float64
 8   Proanthocyanins       178 non-null    float64
 9   Color intensity       178 non-null    float64
 10  Hue                   178 non-null    float64
 11  OD280-OD315           178 non-null    float64
 12  Proline               178 non-null    int64
dtypes: float64(11), int64(2)
memory usage: 19.5+ KB

#### Get the names of all columns

In [168]:
df_wine.columns

Index(['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
       'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue', 'OD280-OD315 ', 'Proline'],
      dtype='object')

#### Get the data types of each column

In [169]:
df_wine.dtypes

Alcohol                 float64
Malic acid              float64
Ash                     float64
Alcalinity of ash       float64
Magnesium                 int64
Total phenols           float64
Flavanoids              float64
Nonflavanoid phenols    float64
Proanthocyanins         float64
Color intensity         float64
Hue                     float64
OD280-OD315             float64
Proline                   int64
dtype: object

#### Get the index of data

In [170]:
df_wine.index

Index(['Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake',
       'Sake',
       ...
       'champain', 'champain', 'champain', 'champain', 'champain', 'champain',
       'champain', 'champain', 'champain', 'champain'],
      dtype='object', name='name', length=178)

#### Print only the column Alcohol

In [171]:
df_wine['Alcohol']
# df_wine.Alcohol

name
Sake        14.23
Sake        13.20
Sake        13.16
Sake        14.37
Sake        13.24
            ...
champain    13.71
champain    13.40
champain    13.27
champain    13.17
champain    14.13
Name: Alcohol, Length: 178, dtype: float64

#### How many different wines are in this dataset?

In [172]:
df_wine.index.value_counts().count()
# np.count_nonzero(df_wine.index.unique())

3

#### What is the most frequent wine?

In [173]:
df_wine.index.value_counts()

name
Whisky      71
Sake        59
champain    48
Name: count, dtype: int64

In [174]:
#Because "most" is asked

# df_wine.index.value_counts().max()
df_wine.index.value_counts().idxmax()

'Whisky'

#### Summarize the DataFrame

In [175]:
# Note that by default, only the numeric columns are returned. 
df_wine.describe()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280-OD315,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

#### Summarize only the column Magnesium

In [176]:
df_wine["Malic acid"].describe()

count    178.000000
mean       2.336348
std        1.117146
min        0.740000
25%        1.602500
50%        1.865000
75%        3.082500
max        5.800000
Name: Malic acid, dtype: float64

#### Calculate the mean for the column Magnesium

In [177]:
df_wine.Magnesium.mean()

99.74157303370787

#### Get the name of 5th column?

In [178]:
df_wine.columns[4]

'Magnesium'

#### Get type of the 5th column

In [179]:
df_wine.dtypes[4]
# df_wine.dtypes['Magnesium']
# df_wine.dtypes[df_wine.columns[4]]

C:\Users\it08d\AppData\Local\Temp\ipykernel_21488\3372763608.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_wine.dtypes[4]

dtype('int64')

#### Get the value at the 10th row and 1st column in the dataset

In [180]:
df_wine.values[9][0]

13.86

#### This function is used to save a dataframe into a csv file

In [181]:
def save_csv_to_file(output_folder,file_name,df_csv):
    output_file = "{}/{}".format(output_folder,file_name)
    df_csv.to_csv(output_file, index=True)

In [182]:
df_wine.columns

Index(['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
       'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue', 'OD280-OD315 ', 'Proline'],
      dtype='object')

In [188]:
output_folder = "EDA_2004S"
makedirs(output_folder)
for i in range(len(df_wine.columns)-2):
    file_name = "wine_{}.csv".format(df_wine.columns[i])
    df_extract = df_wine.iloc[:,[i]]
    save_csv_to_file(output_folder, file_name, df_extract)