In [3]:
pip install natsort

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl.metadata (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.8/114.8 kB 4.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/chamodkanishka/anaconda3/envs/eda.2024/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/chamodkanishka/anaconda3/envs/eda.2024/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 11.2 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 6.2 MB/s eta 0:00:0000:0100:01
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import os, glob, shutil
from natsort import natsorted

#### This function is used to list all subfolders or files in a folder

In [24]:
def list_folder(folder_path):
    items = os.listdir(folder_path)
    print(items)
    subfolders = []
    for item in items:
        item_path = os.path.join(folder_path, item)
        print(item_path)
        if os.path.isdir(item_path) or os.path.isfile(item_path):
            subfolders.append(item_path)
            
    
    sorted_subfolder = sorted(subfolders)
    return sorted_subfolder

In [25]:
list_folder(".")

['EDA_2024S-4_practice.ipynb', 'wine.csv', 'EDA_2024S-4.ipynb', '.idea']
./EDA_2024S-4_practice.ipynb
./wine.csv
./EDA_2024S-4.ipynb
./.idea

['./.idea',
 './EDA_2024S-4.ipynb',
 './EDA_2024S-4_practice.ipynb',
 './wine.csv']

In [26]:
def list_files(folder_path):
    items = os.listdir(folder_path)
    
    subfolders = [os.path.join(folder_path, item)
                  for item in items
                  if os.path.isdir(os.path.join(folder_path, item)) or os.path.isfile(os.path.join(folder_path,item))]
    
    sorted_subfolder = sorted(subfolders)
    return sorted_subfolder

#### This function is used to list all files of a specific type in a folder

In [23]:
list_folder(".")

['EDA_2024S-4_practice.ipynb', 'wine.csv', 'EDA_2024S-4.ipynb', '.idea']
./EDA_2024S-4_practice.ipynb
./wine.csv
./EDA_2024S-4.ipynb
./.idea

['./EDA_2024S-4_practice.ipynb',
 './wine.csv',
 './EDA_2024S-4.ipynb',
 './.idea']

In [29]:
def list_files(folder_path, file_type):
    files = []
    for file in os.listdir(folder_path):
        if file.endswith(file_type):
            files.append(os.path.join(folder_path, file))
            
    return files

#### This function is used to make a new folder/directory

In [38]:
list_files(".", "csv")

['./wine.csv']

In [40]:
def makedirs(folder_path):
    if os.path.exists(folder_path):
        shutil.rmtree(folder_path)
    os.makedirs(folder_path)

In [ ]:
makedirs("EDA_2024S")

#### Read a csv file to a data frame

In [45]:
df_wine  = pd.read_csv("wine.csv", index_col = )

#### See the first 5 entries

In [51]:
df_wine.head()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280-OD315,Proline
name,,,,,,,,,,,,,
Sake,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
Sake,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
Sake,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
Sake,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
Sake,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

#### See the last 5 entries

In [54]:
df_wine.tail()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280-OD315,Proline
name,,,,,,,,,,,,,
champain,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
champain,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
champain,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
champain,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
champain,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

#### Get the number of rows and columns in the dataset

In [60]:
df_wine.shape

(178, 13)

#### Get the number of columns in the dataset

In [61]:
df_wine.shape[1]

13

#### Get the data information

In [59]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, Sake to champain
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alcohol               178 non-null    float64
 1   Malic acid            178 non-null    float64
 2   Ash                   178 non-null    float64
 3   Alcalinity of ash     178 non-null    float64
 4   Magnesium             178 non-null    int64
 5   Total phenols         178 non-null    float64
 6   Flavanoids            178 non-null    float64
 7   Nonflavanoid phenols  178 non-null    float64
 8   Proanthocyanins       178 non-null    float64
 9   Color intensity       178 non-null    float64
 10  Hue                   178 non-null    float64
 11  OD280-OD315           178 non-null    float64
 12  Proline               178 non-null    int64
dtypes: float64(11), int64(2)
memory usage: 19.5+ KB

#### Get the names of all columns

In [58]:
df_wine.columns

Index(['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
       'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue', 'OD280-OD315 ', 'Proline'],
      dtype='object')

#### Get the data types of each column

In [62]:
df_wine.dtypes

Alcohol                 float64
Malic acid              float64
Ash                     float64
Alcalinity of ash       float64
Magnesium                 int64
Total phenols           float64
Flavanoids              float64
Nonflavanoid phenols    float64
Proanthocyanins         float64
Color intensity         float64
Hue                     float64
OD280-OD315             float64
Proline                   int64
dtype: object

#### Get the index of data

In [63]:
df_wine.index

Index(['Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake', 'Sake',
       'Sake',
       ...
       'champain', 'champain', 'champain', 'champain', 'champain', 'champain',
       'champain', 'champain', 'champain', 'champain'],
      dtype='object', name='name', length=178)

#### Print only the column Alcohol

In [71]:
df_wine["Alcalinity of ash"]

name
Sake        15.6
Sake        11.2
Sake        18.6
Sake        16.8
Sake        21.0
            ...
champain    20.5
champain    23.0
champain    20.0
champain    20.0
champain    24.5
Name: Alcalinity of ash, Length: 178, dtype: float64

#### How many different wines are in this dataset?

In [72]:
np.count_nonzero(df_wine.index.unique())

3

#### What is the most frequent wine?

In [74]:
df_wine.index.value_counts().idxmax()

'Whisky'

#### Summarize the DataFrame

In [75]:
df_wine.describe()

,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280-OD315,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

#### Summarize only the column Magnesium

In [85]:
df_wine["Magnesium"].describe()

count    178.000000
mean      99.741573
std       14.282484
min       70.000000
25%       88.000000
50%       98.000000
75%      107.000000
max      162.000000
Name: Magnesium, dtype: float64

#### Calculate the mean for the column Magnesium

In [86]:
df_wine.Magnesium.mean()

99.74157303370787

#### Get the name of 5th column?

In [87]:
df_wine.columns[4]

'Magnesium'

#### Get type of the 5th column

In [89]:
df_wine.dtypes[4]

/var/folders/0k/rdmjjjhd49q6jq8k8y010bwm0000gn/T/ipykernel_7701/86163187.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_wine.dtypes[4]

dtype('int64')

#### Get the value at the 10th row and 1st column in the dataset

In [90]:
df_wine.values[9][0]

13.86

#### This function is used to save a dataframe into a csv file

In [80]:
def save_csv_to_file(output_folder, file_name,df_csv):
    output_file ="{}/{}".format(output_folder, file_name)
    df_csv.to_csv(output_file, index = True)

In [81]:
df_wine.columns

Index(['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
       'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue', 'OD280-OD315 ', 'Proline'],
      dtype='object')

In [82]:
output_folder = "EDA_2024S"
makedirs(output_folder)
for i in range(len(df_wine.columns) - 2):
    file_name = "wine_{}.csv".format(df_wine.columns[i])
    df_extract = df_wine.iloc[:, [i]]
    save_csv_to_file(output_folder, file_name, df_extract)